
.sheet-page
    include ../htmls/header.html
    include ../htmls/character.html
    include ../htmls/magic.html
    include ../htmls/alchemy.html
    include ../htmls/kabbale.html
    include ../htmls/equipment.html

script(type="text/worker")
    include ../htmls/scripts.js

include ../htmls/rolltemplates.html